/* CSS Document */
.list dt {
	color: #eb4437;
	font-size: 25px;
	font-weight: bold;
	margin-top: 20px;
}

.list dd {
	text-indent: 2em;
	margin: 10px 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 20px;
}